In [42]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [44]:
df= pd.read_csv('Data_Marketing_Customer_Analysis_Round3.csv')

In [45]:
df.head()

,region,customer_lifetime_value,response,coverage,education,effective_to_date,month,employment_status,gender,income,...,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
0,central,4809,no,basic,college,2/18/11,feb,employed,m,48029,...,52,0,9,corporate auto,corporate l3,offer3,agent,292,four-door car,medsize
1,west region,2228,no,basic,college,1/18/11,jan,unemployed,f,92260,...,26,0,1,personal auto,personal l3,offer4,call center,744,four-door car,medsize
2,east,14947,no,basic,bachelor,2/10/11,feb,employed,m,22139,...,31,0,2,personal auto,personal l3,offer3,call center,480,suv,medsize
3,north west,22332,yes,extended,college,1/11/11,jan,employed,m,49078,...,3,0,2,corporate auto,corporate l3,offer2,branch,484,four-door car,medsize
4,north west,9025,no,premium,bachelor,1/17/11,jan,medical leave,f,23675,...,31,0,7,personal auto,personal l2,offer1,branch,707,four-door car,medsize

In [46]:
numerical = df.select_dtypes(include=np.number)
numerical.dropna(inplace=True)

In [34]:
from sklearn.model_selection import train_test_split

X = numerical.drop(columns=['total_claim_amount']
y = numerical['total_claim_amount']
X

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies
0,4809,48029,61,7,52,0,9
1,2228,92260,64,3,26,0,1
2,14947,22139,100,34,31,0,2
3,22332,49078,97,10,3,0,2
4,9025,23675,117,33,31,0,7
...,...,...,...,...,...,...,...
10684,15563,61541,253,12,40,0,7
10685,5259,61146,65,7,68,0,6
10686,23893,39837,201,11,63,0,2
10687,11971,64195,158,0,27,4,6
10688,6857,68942,101,31,1,0,3

In [47]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
y_test

3487      120
668       660
10315     244
5332       86
1523     1032
         ...
7089      285
2507      494
7965      537
8523      446
9803      404
Name: total_claim_amount, Length: 2138, dtype: int64

In [48]:
X_train.shape

(8551, 7)

In [58]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)
X_train_scaled = scaler.transform(X_train)

In [59]:
from sklearn.linear_model import LinearRegression
lm = LinearRegression() # fit_intercept = True
model=lm.fit(X_train_scaled,y_train)

AttributeError: module 'numpy' has no attribute 'matrix'

In [41]:
model.intercept_

NameError: name 'model' is not defined

In [22]:
model.coef_

NameError: name 'model' is not defined

In [30]:
X_test_scaled = scaler.transform(X_test)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but StandardScaler was fitted without feature names
  warnings.warn(

In [31]:
y_pred = model.predict(X_test_scaled)

NameError: name 'model' is not defined

residuals = np.array(y_test - y_pred)
res_df = pd.DataFrame({'y_test':y_test, 'y_pred':y_pred, 'residual':residuals})
res_df

In [ ]:
res_df

In [ ]:
mse(y_test,y_pred)
np.sqrt(mse(y_test,y_pred))

In [29]:
m, b = np.polyfit(y_test, y_pred, 1)
plt.plot(y_test, y_pred, 'yo', y_test, m*y_test+b, '--k')
plt.show()

NameError: name 'y_pred' is not defined

In [28]:
plt.plot(y_test, y_pred, 'o')
m, b = np.polyfit(y_test, y_pred, 1)
plt.plot(y_test, m*y_test+b)

NameError: name 'y_pred' is not defined